@media(min-width:768px) {
    .section-one-footer-center p {
        font-size: 48px;
    }
    .section-one-footer-center {
        width: 450px;
    }
    /* SCREEN-TWO  */
    .text {
        font-size: 16px;
    }
    /* SCREEN-THREE */
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 26px;
    }
    .content {
        padding: 100px 0;
    }
    .content div {
        width: 50%;
        display: inline-block;
    }
    .content div:nth-child(even) {
        float: right;
        overflow: hidden;
    }
    .content div p {
        width: 70%;
        margin: 0 auto;
        ;
    }
    .content:after {
        clear: both;
        display: block;
        content: "";
    }
    /* SCREEN-FOUR */
    table {
        font-size: 13px;
    }
}