@media(min-width:769px) {
    /* table {
    line-height: 1.25;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
} */
    /* table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
} */
    table th,
    table td {
        /* padding: .625em;
    text-align: center; */
    }
    table th {
        /* font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase; */
    }
}